.toxicity-score {
  padding: 4px 8px 4px 8px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: inline-block;
  margin-top: 5px;
  border-width: 1px;
  border-style: solid;

  &--wait {
    @extend .toxicity-score;
    border-color: orange;
  }

  &--ok {
    @extend .toxicity-score;
    border-color: green;
  }
  
  &--nok {
    @extend .toxicity-score;
    border-color: red;
  } 
}